body {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
  background-color: #6fa8dc;
  margin: 0;
  padding: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.content_panel {
  grid-column: 2 / 8;
  background-color: white;
  padding: 40px;
  border-radius: 14px;
  box-sizing: border-box;
}

.title_box {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0 0 25px 0;
  padding-bottom: 6px;
  border-bottom: 4px solid black;
  display: inline-block;
}

.top_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.hero_image img {
  width: 65%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid black;
}

.nav_list {
  display: flex;
  justify-content: center;
}

.nav_list ul {
  padding-left: 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  list-style-position: inside;
}

.text_block {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: center;
}

.image_box {
  background-color: #6fa8dc;
  padding: 30px;
  border-radius: 14px;
  margin-top: 35px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  background-color: white;
  padding: 12px;
  border-radius: 14px;
  border: 3px solid black;
}

.imgages img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.db_logo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .top-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero_image img {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid black;
  }


  .images {
    grid-template-columns: 1fr;
  }
}

.top_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: center;
}